.header{
	margin-bottom: 15px;
	@media #{$large} {
		margin: 10px auto 15px;
	}
}

.site-logo{
	margin: 10px auto;
	display: block;
	@media #{$small} {
		margin: 10px auto 10px 0;
	}
}

.pull-block{
	width: 100%;
	display: block;
	margin: 20px auto 0;
	text-align: center;
	@media #{$small} {
		position: absolute;
		top: 20px;
		right: 10px;
		width: auto;
	}
	@media #{$medium} {
		display: none;
	}
}

.mobile-pull{
	margin: 10px auto;
	padding: 5px 12px;
	border: 2px solid darken($main-green, 10%);
	border-radius: 1px;
	font-weight: bold;
	color: $main-green;
	font-size: 14px;
	@include box-sizing(border-box);
	&:hover{
		background-color: $main-green;
		border: 2px solid $main-green;
		color: $main-white;
		text-decoration: none;
	}
}

.top-navigation{
	display: none;
	&.uk-navbar{
		text-align: center;
		border-radius: 0;
		border: 0;
		background: darken($main-green, 10%);
		overflow: hidden;
		.uk-navbar-nav{
			margin: auto;
			width: 100%;
			> li{
				 > a{
				 	position: relative;
				 	line-height: 43px;
				 	height: 40px;
				 	padding: 0 20px;
				 	font-family: 'rsu';
					border-radius: 0 !important;
					border: 0 !important;
					margin: 0;
					color: $main-white;
					text-shadow: none;
					cursor: pointer;
					&:hover{
						background: $main-green;
						
					}
				}
			}
		}
	}
	@media #{$medium} {
		display: block;
		margin: 1em auto;
	}
	@media #{$large} {
		margin: 0 auto 1em;
	}
}






