#feature-slider {	
	.nivo-caption{
		padding: 7px 10px;
		text-align: center;
		font-size: 11px;
		font-family: 'rsu';
		cursor: default;
		@media #{$medium} {
			font-size: 14px;
			padding: 12px 10px;
		}
	}
	.nivo-directionNav{
		position: absolute;
		top: 0;
		right: 0;
		a{
			bottom: -27px;
			border-radius: 0;
		}
		.nivo-prevNav,
		.nivo-nextNav{
			width: 20px;
			height: 20px;
		}
		.nivo-prevNav{
			background-position: -20% 65%;
			right: 30px;
		}
		.nivo-nextNav{
			background-position: 120% 65%;
			right: 5px;
		}
	}
}