.rev-block {
  display: none; 
  @media #{$medium} {
  	display: block;
  	margin: auto;
  	text-align: center;
  }
}

.rev-top{
	margin-top: 25px;
	text-align: right;
}

.rev-listview{
	margin-bottom: 25px !important;
}