.search-form{
	.search-input{
		border-radius: 0 !important;
		font-size: 0.9em;	
	}
	.search-button{
		background-color: $main-black;
		border-bottom: 2px solid #000;
		color: $main-white;
		text-shadow: none;
		font-family: 'rsu';
		font-size: 0.8em;
		padding-top: 3px;
		&:hover{
			background-color: lighten($main-black, 10%);
			color: white;
		}
	}
}
