$main-black: #2A363B;
$main-red: #E84A5F;
$main-green: #99B898;
$main-white: #f5f5f5;
$main-gray: #ccc;

$small: "screen and (min-width : 480px)";
$medium: "screen and (min-width : 768px)";
$large: "screen and (min-width : 960px)";